In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("C:/Users/DELL/Downloads/coffee-shop-sales-revenue.csv")
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,7:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,7:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,7:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,7:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,7:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 12.5+ MB

In [5]:
df.shape

(149116, 11)

In [6]:
df.duplicated().sum()

0

In [7]:
data = df.copy()

In [8]:
%%time
np.random.seed(42)

fixed_range = [ int(len(data) * 0.1), int(len(data)*0.05), int(len(data)*0.03),int(len(data)*0.01),100]
col = ['store_location','product_category','transaction_qty','product_id','unit_price']
for i,j in zip(fixed_range,col):
    missing_index = np.random.choice(data.index, size = i, replace=False)
    data.loc[missing_index,j] = np.nan

CPU times: total: 93.8 ms
Wall time: 77.3 ms

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   transaction_qty   144643 non-null  float64
 4   store_id          149116 non-null  int64
 5   store_location    134205 non-null  object
 6   product_id        147625 non-null  float64
 7   unit_price        149016 non-null  float64
 8   product_category  141661 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 12.5+ MB

In [10]:
fixed_range

[14911, 7455, 4473, 1491, 100]

In [11]:
data.isnull().sum()

transaction_id          0
transaction_date        0
transaction_time        0
transaction_qty      4473
store_id                0
store_location      14911
product_id           1491
unit_price            100
product_category     7455
product_type            0
product_detail          0
dtype: int64

In [17]:
#changing the datatype of numerics to category 
data['unit_price'] = data['unit_price'].astype('object')
print(data['unit_price'].dtypes)

object

### Perfect I have made it as a missing value dataset !!!!!

In [18]:
#storing it as a excel file
data.to_excel(r'C:\Users\DELL\Downloads\coffee_shop_sales.xlsx',index=False)

In [19]:
#for storing it as a csv file
data.to_csv(r'C:\Users\DELL\Downloads\coffee_shop_sales.csv',index=False)